.navbar-ul{
	display: flex;
	list-style: none;
	padding: 10px;
	background-color: rgb(10, 8, 8);
	gap: 15px;
	color: bisque;
}

.navbar-ul li {
	padding: 10px;
}

.logo {
	width: 50px;
	height: 45px;
	border-radius: 50%;
	position: absolute;
	top: 8px;
	right: 20px;
}