.product_list{
	text-align: center;
	margin-top: 50px;

	input{
		padding: 4px;
		width: 22rem;
		margin: 0 0 10px 0;
		outline: none;
	}

	h1{
		margin-top: 8px;
		color: red;
	}

	h3{
		margin: 0 0 20px 0;
	}

	ul{
		
		li{
			display: inline-block;
			border: 1px rgb(33, 29, 37) solid;
			padding: 5px;
			width: 150px;

			button{
				background-color: transparent;
				border: none;
				outline: none;
				font-weight: 600;
				color: red;
				cursor: pointer;
				margin-right: 5px;
			}

			a{
				background-color: transparent;
				border: none;
				outline: none;
				font-weight: 600;
				color: rgb(77, 204, 45);
				cursor: pointer;
			}
		}

		
	}
}